# Created by .ignore support plugin (hsz.mobi)
/Application/projects/
/Application/rfs/migrations/
.idea/


#FILES
*.pyc
*.sqlite3

/.vscode/
/Application/projects/README.md
Application/RevenueSystem/__pycache__/
Application/rfs/__pycache__/
Application/rfs/libraries/
PythonScripts/__pycache__/
PythonScripts/forecasting/__pycache__/
