
    <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="clearfix"></div>
                    <div id="rev_revpar" style="height:350px;"></div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="clearfix"></div>
                    <div id="arr_rns" style="height:350px"></div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="clearfix"></div>
                    <div id="ocr" style="height:350px"></div>
</div>
</div>
