{% extends 'rfs/base.html' %}
{% block title %} Actual Data Display{% endblock %}
{% block subtitle %} Display All{% endblock %}

{% block body %}
<div class="container-fluid">
<div class="row">
    <div class="col-md-offset-1">
    </div>
    <div class="col-md-2">
        <p class="bg-primary">Segment</p>
    </div>
    <div class="col-md-2">
        <p class="bg-primary">Date</p>
    </div>
    <div class="col-md-2">
        <p class="bg-primary">Room Nights Sold</p>
    </div>
    <div class="col-md-2">
        <p class="bg-primary">Average Room Rate</p>
    </div>
    <div class="col-md-2">
        <p class="bg-primary">Revenue</p>
    </div>
    <div class="col-md-offset-2">
    </div>
    <div class="col-md-offset-1"></div>
</div>
    {% for actual_data in actual_data_list %}
        <div class="row">
        <div class="col-md-offset-1"></div>
        <div class="col-md-2">
            <p>{{ actual_data.segment }}</p>
        </div>
        <div class="col-md-2">
            <p>{{ actual_data.date }}</p>
        </div>
        <div class="col-md-2">
            <p>{{ actual_data.actual_rns }}</p>
        </div>
        <div class="col-md-2">
            <p>{{ actual_data.actual_arr }}</p>
        </div>
        <div class="col-md-2">
            <p>{{ actual_data.actual_arr }}</p>
        </div>
        <div class="col-md-offset-1"></div>
        </div>
    {% endfor %}
{% endblock %}
</div>