{% extends 'rfs/project.html' %}
{% block title %}{{ project.project_name }} Project - Data Feeder{% endblock %}
{% block subtitle %}data feeder{% endblock %}

<!--Enable active selector in navbar-->
{% comment %}{% block datafeed-tab-active%} active {% endblock %}{% endcomment %}

{% block content %}
    {% if message %}
    <div class="alert alert-success alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button><strong>{{ message }}</strong></div>
    {% elif error_message %}
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button><strong>{{ error_message }}</strong></div>
    {% endif %}

    <h3>Data Feeder</h3>
    <div class="row">
    <div class="col-md-8">
    {% if year_detect %}
        <h5>Year detected: <strong>{{ year_detect }}</strong></h5>
    {% endif %}
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="project" value="{{ project }}">
        {% include 'rfs/form_template.html' %}
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Feed Data</button>
        </div>
        </div>
    </form>
    </div>
    <div class="col-md-4">
    {% if act_files %}
        <label class="">Files used</label>
                          <select class="form-control" multiple="multiple">
                              {% for file in act_files %}
                                    <option>{{ file }}</option>
                              {% endfor %}
                          </select>
    {% endif %}

    </div>
    </div>

{% endblock %}
{% block 2ndblock %}
{% if actual_data_list %}
    {% if project.status == 'ACT' %}
        <!--
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
        <div class="x_title">
    <ul class="nav navbar-right panel_toolbox">
      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
      </li>
    </ul>
    <div class="clearfix"></div>
  </div>
    <div class="x_content">
    <div id="actual_forecast" style="height:350px;"></div>
    </div>
    </div>
    </div>
    -->
        {% include 'rfs/actual_table.html' %}
    {% endif %}
{% endif %}
{% endblock %}