{% extends 'rfs/project.html' %}
{% block title %}{{ project.project_name }} Project - Data Feeder{% endblock %}
{% block subtitle %}data feeder{% endblock %}

<!--Enable active selector in navbar-->
{% comment %}{% block datafeed-tab-active%} active {% endblock %}{% endcomment %}

{% block content %}
    {% if message %}
    <div class="alert alert-info alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button><strong>{{ message }}</strong></div>
    {% endif %}

    <h3>Data Feeder</h3>
    {% if year_detect %}
        <h5>Year detected: <strong>{{ year_detect }}</strong></h5>
    {% endif %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
    <!--
        <div class="form-group">
        <label for="yrselect">Select Year</label>
        <input id="yrselect" type="number" name="year" class="form-control" value="2015" min="2014" max="2016" required="" />
        </div>
    -->
        <div class="form-group">
        <label for="filesel">Select Excel File</label>
        <select id="filesel" class="form-control" name="file">
        {% if act_files %}
            {% for file in act_files %}
            <option value="{{ file.excel_file }}">{{ file.excel_file }}</option>
            {% endfor %}
        {% endif %}
        </select>
        </div>
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            {% if act_files %}
                <button type="submit" class="btn btn-success">Feed Data</button>
            {% else %}
                <button type="submit" class="btn btn-success" disabled>Feed Data</button>
            {% endif %}
        </div>
        </div>
    </form>


{% endblock %}
{% block 2ndblock %}
    {% include 'rfs/actual_table.html' %}
{% endblock %}