{% extends 'rfs/project.html' %}
{% block title %}{{ project.project_name }} Project - Forecast{% endblock %}
{% block subtitle %}forecast{% endblock %}
{% block content %}
    {% load humanize %}
    <div class="row">
        <div class="">
            <ul class="nav nav-tabs bar_tabs" role="tablist">
                <li role="presentation" class=""><a href="{% url 'rfs:forecast' project.id %}" ><i class="fa fa-file-excel-o"></i> Default</a>
                </li>
                <li role="presentation" class=""><a href="{% url 'rfs:custom-forecast' project.id %}"><i class="fa fa-gears"></i> Custom</a>
                </li>
            </ul>
            <div role="tabpanel" class="tab-pane fade active in" aria-labelledby="home-tab">

                {% block forecast_form %}
                    <form class="form-horizontal form-label-left" role="form" method='post' action="" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'rfs/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Forecast</button>
                            </div>
                        </div>
                    </form>
                    {% comment %}Prints out the forecast options metrics{% endcomment %}

                {% endblock forecast_form %}

            </div>

        </div>
    </div>
{% endblock %}
{% block 2ndblock %}
    {% include 'rfs/forecast.html' %}
{% endblock %}