{% extends 'rfs/project.html' %}
{% block title %}{{ project.project_name }} Project - Archived Files{% endblock %}
{% block subtitle %}archived files{% endblock %}

{% block content %}
<h3>Archived Files</h3>
<ul class="list-unstyled project_files">
{% if arc_files %}
    {% for file in arc_files %}
        <li style="display:inline-block;width: 1000px;"><a href="#"><i class="fa fa-file-archive-o"></i>{{ file.excel_file }}</a>
        <form action="{% url 'rfs:arc-file-update' project.id file.id %}" method="post" style="display: inline;">
            {% csrf_token %}
        <input type="hidden" name="project_id" value="{{ project.id }}" />
        <input type="hidden" name="status" value="ACT">
        <button type="submit" class="btn btn-default btn-xs btn-danger">
            <span class="fa fa-reply"></span>
        </button>
        </form>
        </li>
    {% endfor %}
{% else %}
     <li>No files archived.</li>
{% endif %}
</ul>
{% endblock %}