{% extends 'rfs/project.html' %}
{% block title %}{{ project.project_name }} Project - Files{% endblock %}
{% block subtitle %}files{% endblock %}
<!--BASE.HTML BLOCKS-->

<!--Enable active selector in navbar-->
{% comment %}{% block file-tab-active %} active {% endblock %}{% endcomment %}

{% block content %}
{% if error_message %}
    <div class="alert alert-warning alert-dismissible fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button><strong>{{ error_message }}</strong></div>
{% endif %}

    <h3>Project files</h3>
    <ul class="list-unstyled project_files">
    {% if act_files %}
        {% for file in act_files %}

            <ul class="list-group">
            <li class="list-group-item">
                <a href="#"><i class="fa fa-file-excel-o"></i>{{ file.excel_file }}</a>
                <form action="{% url 'rfs:file-delete' project.id file.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="project_id" value="{{ project.id }}" />
                    <input type="hidden" name="status" value="ARC">
                    <button type="submit" class="btn btn-default btn-xs btn-danger pull-right">
                        <span class="fa fa-archive"></span>
                    </button>
                </form>
            </li>
            </ul>

        {% endfor %}
    {% else %}
         <li>No files uploaded.</li>
    {% endif %}
    </ul>
    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="project" value="{{ project }}">
        {% include 'rfs/form_template.html' %}

            <div class="row">
            <div class="col-sm-offset-2 col-sm-1">
                <button type="submit" class="btn btn-success">Upload</button>
            </div>
            </div>

    </form>
{% endblock %}