{% extends 'rfs/project.html' %}

{% block title %}{{ project_name }} Project - Files{% endblock %}
{% block subtitle %}Files{% endblock %}

{% block content %}
    <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% include 'rfs/form_template.html' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </form>
{% endblock %}
