{% load humanize %}
{% if result %}
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Forecast <small><!-- --></small></h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <section class="content invoice">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-xs-12 invoice-header">
                            <h1>
                                <i class="fa fa-bar-chart"></i> Forecast.
                                <small class="pull-right">Forecasted Date:
                                    {{ first }} - {{ last }}
                                </small>
                            </h1>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            Start Date:
                            <address>
                                <strong>{{ start_date }}</strong>
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            End Date:
                            <address>
                                <strong>{{ end_date }}</strong>
                            </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <b>Forecast #{{ project.id }}{{ metric }}{{ segment }}{{ n_preds }}{{ season_length }}</b>
                            <br>
                            <br>
                            <b>Project Name:</b> {{ project }}
                            <br>
                            <b>Date Today:</b> {{ datetime.date }}
                            <br>
                            <b>User:</b> {{ user }}
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <div class="row">
                        <hr/>
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-xs-10">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home-r">
                                    <p class="lead">Results</p>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Month</th>
                                                <th>{{ metric }} {{ segment }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for key,value in result.items %}
                                                <tr>
                                                    <th style="width:50%">{{ key }}</th>
                                                    <td>{{ value|floatformat:2|intcomma }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-pane" id="profile-r">
                                <p class="lead">Values</p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th style="width:50%">Metric:</th>
                                                <td>{{ metric }}</td>
                                            </tr>
                                            <tr>
                                                <th>Segment:</th>
                                                <td>{{ segment }}</td>
                                            </tr>
                                            <tr>
                                                <th>Values (per month):</th>
                                                <td>
                                                    {% for value in values_list %}
                                                        {% if value > 0 %}
                                                            {{ value|intcomma }}<br/>
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Number of Predictions:</th>
                                                <td>{{ n_preds }}</td>
                                            </tr>
                                            {% if fitting_method %}
                                                <tr>
                                                    <th>Fitting Method:</th>
                                                    <td>{{ fitting_method }}</td>
                                                </tr>
                                            {% endif %}
                                            <tr>
                                                <th>Seasonal Length:</th>
                                                <td>{{ season_length }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <p class="lead">Optional</p>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th style="width:50%">Alpha:</th>
                                                <td>{{ alpha }}</td>
                                            </tr>
                                            <tr>
                                                <th>Beta:</th>
                                                <td>{{ beta }}</td>
                                            </tr>
                                            <tr>
                                                <th>Gamma:</th>
                                                <td>{{ gamma }}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-2">
                            <ul class="nav nav-tabs tabs-right">
                                <li class="active"><a href="#home-r" data-toggle="tab">Results</a>
                                </li>
                                <li><a href="#profile-r" data-toggle="tab">Values</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row no-print">
                        <div class="col-xs-12">
                            <!--
                          <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>

                          <button class="btn btn-success pull-right"><i class="fa fa-download"></i> Generate Excel</button>
                          <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate PDF</button>
                            -->
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
{% endif %}