{% extends 'rfs/base_user.html' %}
{% block body %}
    <div>
      <a class="hiddenanchor" id="signin"></a>
      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">

            <form role="form" action="{% url 'rfs:login'%}" method="post" enctype="multipart/form-data">
                <h1>RFS Login</h1>
              {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                {% csrf_token %}
              <div>
                <input type="text" name="username" class="form-control" placeholder="Username" required="" />
              </div>
              <div>
                <input type="password" name="password" class="form-control" placeholder="Password" required="" />
              </div>
              <div>
                <button class="btn btn-default submit" type="submit">Log in</button>
              </div>

              <div class="clearfix"></div>
            </form>
          </section>
        </div>
      </div>
    </div>
{% endblock %}
