{% extends 'rfs/project.html' %}
{% block title %}{{ project.project_name }} Project - Details{% endblock %}
{% block subtitle %}details{% endblock %}

{% block content %}
<div class="col-md-9 col-sm-9 col-xs-12">
    <div>
    {% if activities %}
        <h4>Recent Activity <span class="badge bg-green">{{ activities.count }}</span></h4>
        <!-- end of user messages -->

            {% for activity in activities %}
        <ul class="messages">
                          <li>
                            <div class="message_date">
                              <h3 class="date text-info">{{ activity.datetime.astimezone.date }}</h3>
                              <p class="month">{{ activity.datetime.astimezone.time }}</p>
                            </div>
                            <div class="message_wrapper">
                              <h4 class="heading">{{ activity.user }}</h4>
                              <blockquote class="message">{{ activity.log }}.</blockquote>
                              <br />
                                {% if activity.file %}
                              <p class="url">
                                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                <a href="{% url 'rfs:download' project.id activity.file %}"><i class="fa fa-paperclip"></i> {{ activity.file }} </a>
                              </p>
                                {% endif %}
                            </div>
                          </li>
                        </ul>
            {% endfor %}
        {% else %}
        <div style="text-align: center;margin-top:10%"><h1>No Recent Activities</h1></div>
        {% endif %}
        <!-- end of user messages -->
    </div>
</div>
<div class="col-md-3 col-sm-3 col-xs-12">

<section class="panel">

  <div class="x_title">
    <h2>Project Description</h2>
    <div class="clearfix"></div>
  </div>
  <div class="panel-body">
    <h3 class="green"><i class="fa fa-paint-brush"></i> {{ project.project_name }}</h3>

      {% if project.description %}
      <p>{{ project.description }}</p>
          {% else %}
          <p>No description.</p>
      {% endif %}

  </div>

</section>

</div>
{% endblock content %}