<div class="col-md-9 col-sm-9 col-xs-12">
  <ul class="stats-overview">
    <li>
      <span class="name"> Field </span>
      <span class="value text-success"> ### </span>
    </li>
    <li>
      <span class="name"> Field </span>
      <span class="value text-success"> ### </span>
    </li>
    <li class="hidden-phone">
      <span class="name"> Field </span>
      <span class="value text-success"> ### </span>
    </li>
  </ul>
  <br />
  <div id="mainb" style="height:350px;">
      Nothing to show at project {{ project.project_name }}
  </div>
</div>