{% extends 'rfs/project.html' %}
{% block content %}
    {% if actual_data_list %}
<div class="row tile_count">
            <div class="col-md-2 col-sm-3 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-building"></i> Room Nights Sold</span>
              <div class="count">4235</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Month</span>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-bank"></i> Average Room Rate</span>
              <div class="count">123.50</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Month</span>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-money"></i> Revenue</span>
              <div class="count green">2500</div>
              <span class="count_bottom"><i class="green">4% </i> From last Month</span>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-user"></i> Occupancy Rate</span>
              <div class="count">89.49</div>
              <span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Month</span>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-6 tile_stats_count">
              <span class="count_top"><i class="fa fa-paypal"></i> RevPAR</span>
              <div class="count">4,567</div>
              <span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Month</span>
            </div>
</div>
        <div class="row">
<div class="">
                      <ul class="nav nav-tabs bar_tabs right" role="tablist">
                        <li role="presentation" class=""><a href="{% url 'rfs:grp' project.id %}" ><i class="fa fa-users"></i></a>
                        </li>
                        <li role="presentation" class=""><a href="{% url 'rfs:ind' project.id %}"><i class="fa fa-user"></i></a>
                        </li>
                        <li role="presentation" class=""><a href="{% url 'rfs:project' project.id %}" ><i class="fa fa-building"></i></a>
                        </li>
                      </ul>
                        <div role="tabpanel" class="tab-pane fade active in" id="tab_content11" aria-labelledby="home-tab">
                          {% include "rfs/actual_graphs.html" %}
                        </div>

</div>
        </div>


        {% else %}
        <div class="col-md-12">
          <div class="col-middle">
            <div class="text-center text-center">
              <h2 class="error-number">{% block jumbo %}No data graphs to show{% endblock jumbo %}</h2>
              <h2>{% block subjumbo %}Actual data is required{% endblock subjumbo %}</h2>


              <div class="center">

                  <div class="row">
                      <div class="col-md-offset-4 col-md-4">
                  <div class="btn-group-justified">
                      <a class="btn btn-app" href="{% url 'rfs:file' project.id %}">
                      <i class="fa fa-upload"></i> Upload a File
                    </a>
                      {% if act_files %}
                    <a class="btn btn-app" href="{% url 'rfs:datafeed' project.id %}">
                      <i class="fa fa-database"></i> Feed Data
                    </a>
                          {% endif %}

                        </div>
                    </div>
                  </div>
            </div>
          </div>
        </div>
    {% endif %}
{% endblock %}
{% block 2ndblock %}
    {% if actual_data_list %}
    {% if project.status == 'ACT' %}
    {% include 'rfs/actual_table.html' %}
       {% endif %}
{% endif %}
{% endblock %}