{% extends 'rfs/home.html' %}

{% block jumbo %}Feed data to..{% endblock %}
{% block subjumbo %}Pick the project of your choice{% endblock subjumbo %}

{% block pick_project %}
<div class="col-md-offset-2 col-md-8">
<div class="x_panel">
  <div class="x_content">
    <table id="datatable" class="table table-striped table-bordered">
      <thead>
        <tr>
            <th>Project</th>
            <th>No. of Activities</th>
        </tr>
      </thead>
      <tbody>
      {% for project in all_projects %}
      <tr>
          <td><a href="{% url 'rfs:datafeed' project.id %}"><div style="height:100%;width:100%">{{ project.project_name }}</div></a></td>
          <td>{{ project.activity_set.count }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>
</div>
{% endblock pick_project %}