{% extends 'page.html' %}
{% block title %}500 Error - AURA{% endblock %}
{% block content %}
    <div class="col-md-12">
        <div class="col-middle">
            <div class="text-center text-center">
                <h1 class="error-number">500</h1>
                <h2>Internal Server Error</h2>
                <p>We track these errors automatically, but if the problem persists feel free to contact us. In the
                    meantime, try refreshing.
                </p>
                <div class="mid_center">

                    <h3>or <a style="color:silver;text-decoration:underline;" href="javascript:history.back()">Go Back</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}